.button {
	display: inline-block;
	font-size: $font-size-l;
	font-weight: 300;
	line-height: 1;
	text-decoration: none;
	background: $blue;
	color: white;
	padding: $m-size;
	border: none;
	border-radius: 3px;
}

.button--link {
	background: none;
}

.button--secondary {
	background: $gray;
}
